.App {
  text-align: center;
}

.logo {
  max-width: 100px; /* Adjust the logo size as needed */
  margin: 16px; /* Add some margin around the logo */
}

.board {
  display: inline-block;
  border: 2px solid black;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
